{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3 class=" mt-5">Welcome {{user}}</h3>
  <div class="col-sm-2 border-end mt-5">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1 text-center">
     <h3>Password Changed Successfully !!!</h3>
     <div class="">
        <iframe src="https://giphy.com/embed/o2TFj90iXgjcIUEACz" width="100" height="100"  frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
     </div>
  </div>
 </div>
</div>
{% endblock main-content %}